<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3>投稿詳細</h3>

      <table class="table">
        <tr>
          <th style="width: 110px">ID</th>
          <td><%= @word.id %></td>
        </tr>
        <tr>
          <th>日時</th>
          <td><%= I18n.localize @word.created_at %></td>
        </tr>
        <tr>
          <th>投稿文</th>
          <td><%= @word.body %></td>
        </tr>
        <tr>
          <th>いいね数</th>
          <td><%= @word.favorites.count %></td>
        </tr>
        <tr>
          <th>コメント数</th>
          <td><%= @word.comments.count %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "削除", admin_word_path(@word.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          </td>
          <td></td>
        </tr>
      </table>

      <h4>コメント</h4>
      <table class="table table-striped">
        <% @word.comments.each do |comment| %>
        <tr>
          <td><%= I18n.localize comment.created_at %></td>
          <td><%= comment.body %></td>
          <td><%= link_to "削除", admin_word_comment_path(comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>





