<div class="container">
  <div class="row justify-content-center line">
    <div class="col-8">
      <div class="top-text">
        <p>
          このサイトは、1日のいいこと、良かったことを投稿するサイトです。<br>
          毎日楽しいことばかりではないかもしれませんが、そんなときこそ、
          ちょっとした"いいこと"を探してみませんか？
        </p>
      </div>
    </div>
    <div class="col-4 text-right">
      <%= image_tag "AdobeStock_415756294.jpg", class: "image" %>
    </div>
  </div>

  <div class="row justify-content-center m-5">
    <%= link_to "サイトについて", root_path, class: 'btn btn-primary pr-5 pl-5 mr-5' %>
    <%= link_to "新規投稿する", root_path, class: 'btn btn-primary pr-5 pl-5' %>
  </div>

  <div class="row justify-content-center mt-4">
    <h3>投稿一覧</h3>
  </div>

  <div class="row d-flex flex-row">
    <% @words.each do |word| %>
      <div class="card">
        <div class="card-body">
          <p><%= word.created_at.strftime('%Y/%m/%d') %></p>
          <p><%= word.body %></p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-4">
              <%= link_to "詳細", word_path(word.id), class: 'btn btn-primary btn-sm' %>
            </div>
            <div class="col-8 text-right pt-1">
              <i class="fas fa-comment fa-fw"></i>
              <%= word.comments.count %>
              <i class="fas fa-heart fa-fw"></i>
              <%= word.favorites.count %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>