<div class="container">
  <div class="row justify-content-center line">
    <div class="col-8">
      <div class="top-text">
        <p>
          このサイトは、1日の良かったこと、嬉しかったことを投稿するサイトです。<br>
          毎日楽しいことばかりではないかもしれませんが、そんな時こそ
          ちょっとした<span class="font-weight-bold">"いいこと"</span>を探してみませんか？
        </p>
      </div>
    </div>
    <div class="col-4 text-right">
      <%= image_tag "AdobeStock_415756294.jpg", class: "image" %>
    </div>
  </div>

  <div class="row justify-content-center m-5">
    <%= link_to "サイトについて", root_path, class: 'btn btn-primary pr-5 pl-5 mr-5' %>
    <%= link_to "新規投稿する", root_path, class: 'btn btn-primary pr-5 pl-5' %>
  </div>

  <div class="row justify-content-center mt-4">
    <h3>投稿一覧</h3>
    <%= form_with method: :get do |f| %>
      <% if @sorted.present? %>
        <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();" %>
      <% else %>
        <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();" %>
      <% end %>
    <% end %>
  </div>

  <div class="row d-flex flex-wrap">
    <% @words.each do |word| %>
      <div class="col-lg-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <p><%= word.created_at.strftime('%Y/%m/%d') %></p>
            <p><%= word.body %></p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-4">
                <%= link_to "詳細", word_path(word.id), class: 'btn btn-primary btn-sm' %>
              </div>
              <div class="col-8 text-right pt-1 pink">
                <i class="fas fa-heart fa-fw"></i>
                <%= word.favorites.count %>
                <i class="fas fa-comment fa-fw"></i>
                <%= word.comments.count %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @words %>
</div>