<!DOCTYPE html>
<html>
  <head>
    <title>Fortune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row justify-content-center">
          <h1>今日もいいこと</h1>
        </div>

        <div class="row justify-content-center">
          <% if current_admin %>
            <ul>
              <li><%= link_to '投稿一覧', admin_top_path %></li>
              <li><%= link_to '利用方法', about_path %></li>
              <li><%= link_to 'ログアウト', admin_logout_path, method: :delete %></li>
          <% else %>
              <li><%= link_to root_path do %>
                ホーム<i class="fas fa-home fa-fw"></i>
              <% end %></li>
              <li><%= link_to about_path do %>
                利用方法<i class="fas fa-info fa-fw"></i>
              <% end %></li>
              <li><%= link_to new_word_path do %>
                新規投稿<i class="fas fa-edit fa-fw"></i>
              <% end %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </header>

    <main>
      <div id="notice">
        <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
        <% end %>
      </div>

      <div id="alert">
        <% if flash[:alert] %>
          <p><%= flash[:alert] %></p>
        <% end %>
      </div>

      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <p>© 2021 Fortune</p>
        </div>
      </div>
    </footer>
  </body>
</html>
