<!DOCTYPE html>
<html>
  <head>
    <title>Fortune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row justify-content-center">
          <%= image_tag "title.png", class: "title-image" %>
        </div>

        <div class="row justify-content-center mb-3">
          <% if current_admin %>
            <ul>
              <li><%= image_tag "flower-icon-pink.png", class: "nav-image" %></li>
              <li><%= link_to 'Home', admin_top_path %></li>
              <li><%= image_tag "flower-icon-pink.png", class: "nav-image" %></li>
              <li><%= link_to 'About', about_path %></li>
              <li><%= image_tag "flower-icon-pink.png", class: "nav-image" %></li>
              <li><%= link_to 'Logout', admin_logout_path, method: :delete %></li>
              <li><%= image_tag "flower-icon-pink.png", class: "nav-image" %></li>
          <% else %>
              <li><%= image_tag "flower-icon-blue.png", class: "nav-image" %></li>
              <li><%= link_to root_path do %>Home<% end %></li>
              <li><%= image_tag "flower-icon-blue.png", class: "nav-image" %></li>
              <li><%= link_to about_path do %>About<% end %></li>
              <li><%= image_tag "flower-icon-blue.png", class: "nav-image" %></li>
              <li><%= link_to new_word_path do %>新規投稿<% end %></li>
              <li><%= image_tag "flower-icon-blue.png", class: "nav-image" %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </header>

    <main>
      <div id="notice">
        <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
        <% end %>
      </div>

      <div id="alert">
        <% if flash[:alert] %>
          <p><%= flash[:alert] %></p>
        <% end %>
      </div>

      <%= yield %>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <%= image_tag "flower-icon-blue.png", class: "footer-image" %>
          <%= image_tag "flower-icon-blue.png", class: "footer-image" %>
          <%= image_tag "flower-icon-blue.png", class: "footer-image" %>
          <%= image_tag "flower-icon-blue.png", class: "footer-image" %>
          <%= image_tag "flower-icon-blue.png", class: "footer-image" %>
        </div>
        <div class="row justify-content-center mb-5">
          <p>© 2021 Today's Happy</p>
        </div>
      </div>
    </footer>
  </body>
</html>
