<!DOCTYPE html>
<html>
  <head>
    <title>Fortune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <%= link_to root_path do %>
          <h1>今日もいいこと</h1>
        <% end %>
        <%= link_to about_path do %>
          <button type="button" class="btn btn-primary">About</button>
        <% end %>
        <%= link_to admin_login_path do %>
          <button type="button" class="btn btn-primary">投稿一覧</button>
        <% end %>
        <%= link_to root_path do %>
          <button type="button" class="btn btn-primary">新規投稿</button>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <p class="text-center mt-5">© 2021 Fortune</p>
      </div>
    </footer>
  </body>
</html>
